<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
	<title> Online Library </title>
	<link rel="stylesheet" type="text/css" href="static/mystyle.css">
</head>

<body>
<h1 align="center"> Online Library </h1>
<form action="/" method="post">
{% csrf_token %}
<div align="left">
	{%for type in list_types%}
	<input type='radio' name="file_type" value="{{type.file_type}}">{{type.file_type}}</input> <br />
	{%for lang in list_lang%}
		<input class='inner' type='radio' value="{{lang.language}}" name="language"> {{lang.language}}</input><br />
	{%endfor%}
	</div>
	{%endfor%}
</div>
<input type="submit"  value="search"></input>
</form>

<div align="center">
	{% for entry in entries %}
	<span>Format: {{entry.format_type}}</span> <br/>
	<span>Type: {{entry.file_type}}</span> <br/>
	<span>Language: {{entry.language}}</span> <br/>
	<span>Indentif: {{entry.identif}}</span> <br/>
	<span>File name: {{entry.file_name}}</span> <br/>
	<span>Author: {{entry.author}}</span> <br/>
	<a href="/files/{{entry.file_name}}">View</a> <br/>
	<br/><br/>
	{%endfor%}
</div>
</body>


